<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>976584154745-1jkfd0glvmvsqqts296badssnrudcn18.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.976584154745-1jkfd0glvmvsqqts296badssnrudcn18</string>
	<key>API_KEY</key>
	<string>AIzaSyAdpYgzou3b6L2Ta_S4XJ1vGeq5YjyAtWE</string>
	<key>GCM_SENDER_ID</key>
	<string>976584154745</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterapp</string>
	<key>PROJECT_ID</key>
	<string>triptogether-25a8e</string>
	<key>STORAGE_BUCKET</key>
	<string>triptogether-25a8e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:976584154745:ios:d6b6e3370ddf616eb1fea8</string>
</dict>
</plist>